.signIn-join-model {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.288);
    color: #EBEBEB;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 999999999;
}

.modal-fade-in {
    visibility: visible;
    animation: fade-in 0.4s ease-in 0.3s forwards;
}

.modal-fade-out {
    animation: fade-out 0.3s ease-out 0.5s forwards;
}

.l-s-container {
    background: var(--auth-model-color);
    width: 550px;
    height: 550px;
    overflow-y: scroll;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.l-s-container::-webkit-scrollbar{
    display: none;
}

.l-s-container .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.l-s-container .head img {
    width: 70px;
    height: 70px;
}

.l-s-container .head h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--links-color);
}

.l-s-container .data {
    width: 100%;
}

.l-s-container .data .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -20px;
}

.l-s-container .data .tab ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    padding: 0.3rem;
    font-size: 18px;
    font-weight: 800;
    background: rgba(112, 111, 111, 0.219);
    border-radius: 20px;
    cursor: pointer;
}

.l-s-container .data .tab ul > li {
    padding: 0.5rem 1rem;
    color: var(--links-color);
    border-radius: 20px;
    transition: all 0.4s ease;
}

.l-s-container .data .tab ul > li.active {
    background: var(--auth-active-color);
    box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.281);
    -webkit-box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.281);
    -moz-box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.281);
}

.l-s-container .data .tab ul > li:hover { 
    color: white;
}

.l-s-container .data form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
}

.l-s-container .data form .form-group {
    width: 100%;
}

.l-s-container .data form .form-group:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.l-s-container .data form .form-group:last-child > button {
    width: 50%;
    padding: 0.7rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background: var( --auth-btns-color);
    color: white;
    transition: all 0.5s ease;
    border-radius: 20px;
    white-space: nowrap;
}

.l-s-container .data form input { 
    width: 100%;
    padding: 0.2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background: none;
    color: inherit;
    border-bottom: 2px solid #18181828;
    transition: all 0.5s ease;
}

.l-s-container .data form input:focus {
    border-bottom: 2px solid #ffffff69;
}


.l-s-container .data form.sign-in-form {
    display: none;
}

.l-s-container .data form.sign-up-form {
    display: none;
    height: 320px;
    overflow-y: scroll;
}

.l-s-container .data form.active {
    display: flex;
}

.l-s-container .data form.sign-up-form::-webkit-scrollbar {
    display: none;
}

.l-s-container .auth-footer {
    margin-left: 10%;
    margin-top: 5%;
}

.signIn-join-model > button {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 0.3rem;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 8px;
}

.auth-footer-sign-in {
    margin: 0.7rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.auth-footer-sign-up {
    display: none;
    margin: 0.7rem;
    width: 85%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#btn-signUp,
#btn-signIn {
    text-decoration: underline;
    cursor: pointer;
}

.signIn-join-model > button:hover {
    background: white;
    color: black;
}

@media screen and (max-width: 1040px) {
    .signIn-join-model > button {
        left: 2%;
        right: unset;
    }

    .l-s-container {
        width: 540px;
        height: 540px;
    }

    .l-s-container .head {
        gap: 0.8rem;
        padding: 0.8rem;
    }

    .l-s-container .head img {
        width: 60px;
        height: 60px;
    }

    .l-s-container .head h1 {
        font-size: 2rem;
    }

    .l-s-container .data .tab ul {
        width: 38%;
        font-size: 16px;
        gap: 0.8rem;
    }

    .l-s-container .data form .form-group:last-child > button {
        width: 45%;
        padding: 0.6rem;
        font-size: 16px;
    }

    .auth-footer-sign-in,
    .auth-footer-sign-up {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    .signIn-join-model > button {
        font-size: 16px;
    }

    .l-s-container {
        width: 520px;
        height: 520px;
    }

    .l-s-container .head img {
        width: 58px;
        height: 58px;
    }

    .l-s-container .head h1 {
        font-size: 1.9rem;
    }

    .l-s-container .data .tab ul {
        font-size: 15px;
    }

    .l-s-container .data form input {
        font-size: 15px;
    }

    .l-s-container .data form label {
        font-size: 15px;
    }

    .l-s-container .data form .form-group:last-child > button {
        width: 40%;
        font-size: 15px;
    }

    .l-s-container .data form .form-group:last-child > button#create-account {
        width: 50%;
    }

    .auth-footer-sign-in,
    .auth-footer-sign-up {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .l-s-container {
        width: 490px;
        height: 490px;
    }

    .l-s-container .head img {
        width: 45px;
        height: 45px;
    }

    .l-s-container .head h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .l-s-container .data .tab {
        margin-top: -10px;
    }

    .l-s-container .data .tab ul {
        width: 42%;
        font-size: 16px;
        gap: 0.8rem;
    }

    /* .l-s-container .data form .form-group:last-child > button#create-account {
        width: 50%;
    } */

}

@media screen and (max-width: 626px) {
    
    .l-s-container {
        width: 450px;
        height: 450px;
    }

    .l-s-container .head img {
        width: 42px;
        height: 42px;
    }

    .l-s-container .data .tab ul {
        width: 46%;
    }
}

@media screen and (max-width: 500px) {

    .signIn-join-model > button {
        left: 4%;
        top: 4%;
    }

    .l-s-container {
        width: 400px;
        height: 480px;
    }

    .l-s-container .data .tab ul {
        width: 50%;
    }

    .l-s-container .data form .form-group:last-child > button#create-account {
        width: 70%;
    }

    .auth-footer-sign-in, 
    .auth-footer-sign-up {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 409px) {
    
    .l-s-container {
        width: 340px;
    }

    .l-s-container .data .tab ul {
        width: 60%;
    }

    .l-s-container .data .tab ul > li {
        white-space: nowrap;
    }

    .l-s-container .data form .form-group:last-child > button#create-account {
        width: 70%;
    }
}

