.landingage-container {
  background: no-repeat top center url("../imgs/landingPagebg.jpg");
  width: 100%;
  height: calc(100vh - 15vh);
  position: relative;
}

.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  /* justify-content: flex-start;
    align-items: flex-end; */
  position: relative;
  padding-left: 2rem;
}

.landingpage-features {
  background: linear-gradient(
    to right,
    black,
    steelblue,
    white,
    steelblue,
    black
  );
  width: 100%;
  height: 100vh;
}

.text-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.text-container > div:first-child {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  gap: 1rem;
  /* position: absolute;
    bottom: 0; */
  width: 99%;
  z-index: 10;
}

.text-container h3 {
  font-weight: 300;
}

.action-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.action-container > div {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem;
  border-radius: 15px;
  background: var(--auth-active-color);
  color: black;
  box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.281);
  -webkit-box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.281);
  -moz-box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.281);
  transition: all 0.4s ease;
}

.action-container > div:hover {
  color: white;
  border-color: white;
}

.action-two > h4 > a {
  color: var(--links-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.action-two > h4 > a:hover {
  color: white;
}

.img-align {
  width: 100%;
  height: 100%;
  /* background: red; */
  position: relative;
}

.img-align .vault {
  position: absolute;
  top: 10%;
  right: 0%;
  z-index: 2;
}

/* .img-align .sack-gold {
    position: absolute;
    width: 280px;
    top: 38%;
    right: 0%;
    z-index: 1;
} */

@media screen and (max-width: 1230px) {
  /* .img-align .sack-gold {
        display: none;
    } */
}

@media screen and (max-width: 1040px) {
  .img-align .vault {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .img-align .vault {
    width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .text-container {
    flex-direction: column;
    position: relative;
  }
  .text-container > div:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 4%;
  }

  .img-align {
    order: -1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-align .vault {
    position: absolute;
    top: unset;
    right: unset;
    width: 400px;
  }
}

@media screen and (max-width: 626px) {
  /* .img-align .vault {
        width: 610px;
        transform: translateX(10%);
    } */
}

@media screen and (max-width: 500px) {
  /* .img-align .vault {
        transform: translateX(15%);
    } */
}

@media screen and (max-width: 440px) {
  .cover {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .img-align {
    align-items: center;
    justify-content: flex-start;
  }
  .img-align .vault {
    width: 390px;
  }
}

@media screen and (max-width: 409px) {
  .cover {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  /* .img-align .vault {
        transform: translateX(15%);
    } */
}
